<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient History Entry</title>
</head>
<body>
<div th:each="patienthistory : *{patienthistoryentry}">
    <h2 th:text="${patienthistory.case_id}"></h2>
    <p th:text="${patienthistory.patient_id}"></p>
    <p th:text="${patienthistory.diagnose_code}"></p>
    <p th:text="${patienthistory.insurance_id}"></p>
    <p th:text="${patienthistory.date_of_admission}"></p>
    <p th:text="${patienthistory.doctor_id}"></p>
    <a th:href="@{/patienthistory/patienthistoryentry/{case_id}(case_id = ${patienthistory.case_id})}">Edit</a><br />
    <a th:href="@{/patienthistory/patienthistoryentry/delete/{case_id}(case_id = ${patienthistory.case_id})}">Delete</a>

    <div class="">
        <a href="/patienthistory/patienthistoryentry">New Doctor Entry</a>
    </div>

</body>
</html>